<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body>
       <div class="container shadow p-3 text-center">
                <h1 class="display-4 maptxt " >FIND US HERE!! </h1>
                <hr class="mapl"></hr>
          
                <div class="container">
                <div class="row ">
                    <div class="col  ">
                          <img class="imgm" alt="" 
                        src="https://img.freepik.com/free-vector/local-tourism-map-with-map_23-2148595227.jpg?w=1380&t=st=1682505517~exp=1682506117~hmac=e48625dc18f15f4a85be4ba6d9b6b232d5db52322b20a8d6947356a8e33c9550">
                        </img>   
                        <br>
                    </div>

                    <div class="col-sm-6">
                        <div class="lightbox">
                            <iframe title="myframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d820.6342578363697!2d74.6424234958297!3d26.43166724234324!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x396be7f834324a3f%3A0x36fb14a5f3fee064!2sChanakya%20Vidya%20Mandir!5e0!3m2!1sen!2sin!4v1682577395411!5m2!1sen!2sin" width="100%" height="400" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <style>
                
                .imgm{
                        width: 100%;
                        border-radius: 50px;
                }
                .j{
                    text-align: justify;
                }
            </style>
</body>
</html>